@import '../abstract/variaveis';

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.289), black),url(../imagens/banner.jpeg) center no-repeat ;
    background-size: cover;
    min-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner{
        color: white;
        h1{
            font-size: $tamanho-do-texto;
            color: $cor-terciaria;
            text-shadow: 0 0 5px rgb(117, 84, 127);
            span {
                color: $cor-secundaria;
            }
        }
    }

    

}  