@import '../abstract/variaveis';

.banner {
    background: url(../imagens/banner.jpeg) center no-repeat ;
    background-size: cover;
    min-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner{
        padding: 3rem;
        color: white;
        h1{
            font-size: $tamanho-do-texto;
            color: $cor-secundaria;
            text-shadow: 0 0 5px rgb(0, 0, 0);

        }
    }

    

}  