@import '../abstract/variaveis';

nav{
    border-bottom: 4px solid $cor-terciaria;
    text-align: center;
    ul{
        li{
            display: inline-block;
            padding: 1rem;
            a {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color: $cor-primaria;
                &:hover{
                    color: $cor-secundaria;
                }
            }
        }
    }
}