@charset "UTF-8";
html, body {
  font-family: "Roboto", sans-serif;
}

nav {
  border-bottom: 4px solid #DAF5FF;
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #C9A7EB;
}
nav ul li a:hover {
  color: #9384D1;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.289), black), url(../imagens/banner.jpeg) center no-repeat;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner .inner-banner {
  color: white;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  color: #DAF5FF;
  text-shadow: 0 0 5px rgb(117, 84, 127);
}
.banner .inner-banner h1 span {
  color: #9384D1;
}

#servicos {
  padding: 4em 1em;
  text-align: center;
  max-width: 100vw;
}
#servicos h4 {
  font-size: 1.6666666667rem;
  color: #9384D1;
  margin-bottom: 1em;
  text-transform: uppercase;
}
#servicos h3 {
  font-size: 2rem;
}
#servicos .cards {
  display: flex;
  max-width: 100vw;
  padding: 2em 0em;
  border-radius: 20px;
  gap: 2em;
}
#servicos .cards .card {
  background-color: #DAF5FF;
  flex: 1;
  padding: 1em;
  border-radius: 10px;
}
#servicos .cards .card .img-container img {
  width: 100%;
}
#servicos .cards .card h5 {
  font-size: 1.875rem;
  font-weight: 300px;
  padding: 1em 0px;
  color: #9384D1;
  white-space: nowrap;
}
#servicos .cards .card p {
  line-height: 1.25rem;
  margin-bottom: 2em;
}
@media screen and (max-width: 900px) {
  #servicos .cards {
    flex-direction: column;
  }
}

#cupom {
  background-color: #DAF5FF;
  text-align: center;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#cupom .texto {
  color: #9384D1;
}
#cupom .texto h2 {
  font-size: 1.3636363636rem;
  font-weight: bold;
}
#cupom .inscrição {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cupom .inscrição form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 40%;
  align-items: center;
}
#cupom .inscrição form .input input {
  padding: 0.4em;
  width: 50vw;
  font-size: 20px;
  border-radius: 15px;
  border-color: #C9A7EB;
  background-color: rgba(250, 235, 215, 0.534);
  outline: none;
}
@media screen and (max-width: 700px) {
  #cupom .inscrição form .input input {
    width: 80vw;
  }
}
#cupom .inscrição form .input input:hover, #cupom .inscrição form .input input:focus-within {
  box-shadow: 1px 1px 8px 1px #C9A7EB;
  outline: none;
}
#cupom .inscrição form button {
  padding: 0.5em;
  width: 10em;
  background-color: #C9A7EB;
  color: white;
  text-transform: capitalize;
  border: none;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
}
#cupom .inscrição form button:hover {
  background-color: #9384D1;
}

.sobre {
  padding: 2em;
  text-align: center;
}
.sobre .pedra-flor {
  max-width: 100%;
}
.sobre .pedra-flor img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}
.sobre .texto {
  line-height: 1.5rem;
  font-weight: 500;
}

footer {
  text-align: center;
  padding: 1em;
  border-top: 1px solid #C9A7EB;
}/*# sourceMappingURL=style.css.map */